export DOTDOTFILES={{printf "%q" .Dotfiles}}
export DOTFILES_PREFER_REBUILD=1
source "$DOTDOTFILES/zshrc/core/perf.zsh"
source "$DOTDOTFILES/zshrc/core/utils.zsh"
source "$DOTDOTFILES/zshrc/core/prefer.zsh"
source "$DOTDOTFILES/zshrc/commands/editors.zsh"
source "$DOTDOTFILES/zshrc/integrations/zoxide.zsh"
source "$DOTDOTFILES/zshrc/commands/prefer-decls.zsh"
