[submodule "lib/.oh-my-zsh"]
	path = lib/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "lib/omz-custom/plugins/zsh-autosuggestions"]
	path = lib/omz-custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "lib/omz-custom/plugins/zsh-syntax-highlighting"]
	path = lib/omz-custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
