[submodule "lib/zinit"]
	path = lib/zinit
	url = https://github.com/zdharma-continuum/zinit.git
[submodule "home/scripts"]
	path = home/scripts
	url = https://github.com/agoodkind/scripts.git
[submodule "home/.ssh"]
	path = home/.ssh
	url = https://github.com/agoodkind/.ssh.git
