export DOTDOTFILES={{printf "%q" .Dotfiles}}
source "$DOTDOTFILES/zshrc/core/perf.zsh"
source "$DOTDOTFILES/zshrc/core/utils.zsh"
source "$DOTDOTFILES/zshrc/commands/prefer.zsh"
source "$DOTDOTFILES/home/.zshrc"

